.paid-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1f8a70;
  border-radius: 8px;
  text-decoration: none;
}
.unpaid-btn {
  display: inline-block;
  padding: 10px 22px;
  background-color: #eb455f;
  border-radius: 8px;
  cursor: pointer;
}
