<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px">
            <h1 class="display-6">My Invoices</h1>
            <p class="text-primary fs-5 mb-5"></p>
        </div>
        <div class="row justify-content-center" style="text-align: center;">
            <div class="col-lg-10">
                <table class="table">
                    <caption>
                        List of recent Invoices
                    </caption>
                    <thead class="bg-primary">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Type</th>
                            <th scope="col">From User</th>
                            <th scope="col">Description</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container>
                            <tr>
                                <th scope="row">1</th>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>
                                    <ng-container>
                                        <a class="paid-btn" style="color: #fff;">Paid</a>
                                    </ng-container>
                                    <ng-container>
                                        <a class="unpaid-btn" style="color: #fff;">Pay</a>
                                    </ng-container>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>