<!-- Add Assets Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div
      class="text-center mx-auto wow fadeInUp"
      data-wow-delay="0.1s"
      style="max-width: 500px"
    >
      <h1 class="display-6">Add New Assets</h1>
      <p class="text-primary fs-5 mb-5"></p>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <a href="assets" class="btn btn-primary py-3 px-4">Back</a>
        <hr />
        <div class="accordion" id="accordionExample">
          <div class="accordion-item wow fadeInUp" data-wow-delay="0.1s">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                Add Real-estate
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <label for="name">Location</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  placeholder="Location"
                />
                <label for="name">Area</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  placeholder="Area"
                />
                <label for="name">Type</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  placeholder="Type"
                />
                <label for="name">Size</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  placeholder="Size"
                />
                <label for="name">Level</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  placeholder="Level"
                />
                <label for="name">Documents</label>
                <input
                  type="file"
                  class="form-control"
                  id="name"
                  placeholder="Level"
                />
                <div class="col-12">
                  <button class="btn btn-primary py-3 px-4" type="submit">
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item wow fadeInUp" data-wow-delay="0.2s">
            <h2 class="accordion-header" id="headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                Add Vehicles
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <label for="name">Model</label>
                <input
                  type="number"
                  class="form-control"
                  id="name"
                  placeholder="Model"
                />
                <label for="name">Year</label>
                <input
                  type="date"
                  class="form-control"
                  id="name"
                  placeholder="Year"
                />
                <label for="name">Millage</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  placeholder="Millage"
                />
                <label for="name">Color</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  placeholder="Color"
                />
                <label for="name">Transmission-Type</label>
                <input
                  type="number"
                  class="form-control"
                  id="name"
                  placeholder="Transmission-Type"
                />
                <label for="name">Condition</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  placeholder="Condition"
                />
                <label for="name">CC</label>
                <input
                  type="number"
                  class="form-control"
                  id="name"
                  placeholder="CC"
                />
                <label for="name">Documents</label>
                <input
                  type="file"
                  class="form-control"
                  id="name"
                  placeholder="Level"
                />
                <div class="col-12">
                  <button class="btn btn-primary py-3 px-4" type="submit">
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item wow fadeInUp" data-wow-delay="0.3s">
            <h2 class="accordion-header" id="headingThree">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                Add Others?
              </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="headingThree"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <form
                  id="assetOtherForm"
                  [formGroup]="assetOtherForm"
                  (ngSubmit)="onAssetOtherCreate()"
                >
                  <label for="name">Name</label>
                  <input
                    id="name"
                    type="text"
                    class="form-control"
                    placeholder="Name"
                    formControlName="name"
                  />
                  <ng-container *ngIf="assetOtherForm.controls['name'].touched">
                    <p
                      class="invalid-info"
                      *ngIf="assetOtherForm.controls['name']?.errors?.['required']"
                    >
                      Please type the asset name!
                    </p>
                  </ng-container>
                  <label for="description">Dscription</label>
                  <input
                    id="description"
                    type="text"
                    class="form-control"
                    placeholder="Dscription"
                    formControlName="description"
                  />
                  <ng-container
                    *ngIf="assetOtherForm.controls['description'].touched"
                  >
                    <p
                      class="invalid-info"
                      *ngIf="assetOtherForm.controls['description']?.errors?.['required']"
                    >
                      Please type the asset description!
                    </p>
                  </ng-container>

                  <label for="document">Documents</label>
                  <input
                    id="document"
                    type="file"
                    class="form-control"
                    placeholder="pdf"
                    formControlName="document"
                  />
                  <ng-container
                    *ngIf="assetOtherForm.controls['description'].touched"
                  >
                    <p
                      class="invalid-info"
                      *ngIf="assetOtherForm.controls['description']?.errors?.['required']"
                    >
                      Please upload the asset documents!
                    </p>
                  </ng-container>

                  <div class="col-12">
                    <button class="btn btn-primary py-3 px-4" type="submit">
                      Submit
                    </button>
                  </div>
                </form>
                <!-- Add Asset Form Errors -->
                <ng-container *ngIf="errorMsg">
                  <p class="invalid-info">{{ errorMsg }}!</p>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Add Assets End -->
