<table class="table">
  <thead class="thead-dark">
    <tr class="text-center">
      <th scope="col">#</th>
      <th scope="col">user ID</th>
      <th scope="col">created_at</th>
      <th scope="col">document</th>
      <th scope="col">status</th>
      <th scope="col" colspan="2">Decision</th>
    </tr>
  </thead>
  <tbody *ngFor="let asset of userAssets; let i = index">
    <tr class="text-center">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ asset["userID"] }}</td>
      <td>{{ asset["created_at"] }}</td>
      <td>{{ asset["document"] }}</td>
      <td>{{ asset["status"] }}</td>

      <button class="approve" type="submit">Approve</button>

      <button class="reject" type="submit">Reject</button>
    </tr>
  </tbody>
</table>
