<div class="container bg-light w-50 my-5">
  <main>
    <div class="py-5 text-center">
      <h2>House Details</h2>
      <p class="lead">
        details about your asset to make it very clear to clients.
      </p>
    </div>
    <div>
      <div class="row g-5">
        <div class="col-md-7 col-lg-8">
          <form class="needs-validation" novalidate>
            <div class="row g-3">
              <div class="col-sm-6">
                <label for="location" class="form-label">Location</label>
                <input
                  type="text"
                  class="form-control"
                  id="location"
                  placeholder="3-Fouad st.Alex,Egy"
                  required
                />
              </div>

              <div class="col-sm-6">
                <label for="area" class="form-label">area</label>
                <div class="input-group has-validation">
                  <input
                    type="text"
                    class="form-control"
                    id="area"
                    required
                    placeholder="250m"
                  />
                </div>
              </div>

              <div class="col-sm-12">
                <label for="bedrooms" class="form-label">bedrooms</label>
                <input
                  type="text"
                  class="form-control"
                  id="bedrooms"
                  placeholder="3 bedrooms"
                />
              </div>

              <div class="col-12">
                <label for="level" class="form-label">level</label>
                <input
                  type="text"
                  class="form-control"
                  id="level"
                  placeholder="2 levels"
                  required
                />
              </div>

              <div class="col-12 mb-3">
                <label for="user-assets-id" class="form-label"
                  >user assets id
                </label>
                <input type="text" class="form-control" id="user-assets-id" />
              </div>
            </div>
            <button
              type="button"
              class="subscribe btn btn-primary btn-block rounded-pill shadow-sm mt-2"
            >
              Confirm
            </button>
          </form>
        </div>
      </div>
    </div>
  </main>
</div>
