<div class="container bg-light w-50 my-5">
  <main>
    <div class="py-5 text-center">
      <h2>asset details</h2>
      <p class="lead">
        details about your asset to make it very clear to clients.
      </p>
    </div>
    <div>
      <div class="row g-5">
        <div class="col-md-7 col-lg-8">
          <form class="needs-validation" novalidate>
            <div class="row g-3">
              <div class="col-sm-12">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" required />
              </div>

              <div class="col-sm-12">
                <label for="description" class="form-label">description</label>
                <div class="input-group has-validation">
                  <textarea
                    class="form-control"
                    id="description"
                    required
                  ></textarea>
                </div>
              </div>

              <div class="col-12 mb-3">
                <label for="user-assets-id" class="form-label"
                  >user assets id
                </label>
                <input type="text" class="form-control" id="user-assets-id" />
              </div>
            </div>
            <button
              type="button"
              class="subscribe btn btn-primary btn-block rounded-pill shadow-sm mt-2"
            >
              Confirm
            </button>
          </form>
        </div>
      </div>
    </div>
  </main>
</div>
