<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0 px-4 px-lg-5">
    <a [routerLink]="['']" class="navbar-brand d-flex align-items-center">
        <h2 class="m-0 text-primary">MoneyWall</h2>
    </a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-4 py-lg-0">
            <a [routerLink]="['home']" routerLinkActive="active" class="nav-item nav-link">Home</a>
            <a [routerLink]="['about']" routerLinkActive="active" class="nav-item nav-link">About</a>
            <a routerLink="home/services" class="nav-item nav-link">Service</a>
            <a [routerLink]="['signup']" routerLinkActive="active" class="nav-item nav-link">Sign up</a>
            <a [routerLink]="['signin']" routerLinkActive="active" class="nav-item nav-link">Sign in</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                <div class="dropdown-menu shadow-sm m-0">
                    <a href="feature.html" class="dropdown-item">My Profile</a>
                    <a href="feature.html" class="dropdown-item">My Transactions</a>
                    <a href="token.html" class="dropdown-item">My Assets</a>
                </div>
            </div>
            <a [routerLink]="['contact']" routerLinkActive="active" class="nav-item nav-link">Contact</a>
            <!-- Notifications Dropdown Menu -->
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="far fa-bell"></i>
                    <span class="badge badge-warning navbar-badge">15</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <span class="dropdown-item dropdown-header">15 Notifications</span>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-envelope mr-2"></i> 4 new messages
                        <span class="float-right text-muted text-sm">3 mins</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-file mr-2"></i> Utility Bill due on Feb
                        <span class="float-right text-muted text-sm">2 days</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                </div>
            </li>
        </div>
        <div class="h-100 d-lg-inline-flex align-items-center d-none">
            <a class="btn btn-square rounded-circle bg-light text-primary me-2" href=""><i
                    class="fab fa-facebook-f"></i></a>
            <a class="btn btn-square rounded-circle bg-light text-primary me-2" href=""><i
                    class="fab fa-twitter"></i></a>
            <a class="btn btn-square rounded-circle bg-light text-primary me-0" href=""><i
                    class="fab fa-linkedin-in"></i></a>
        </div>
    </div>
</nav>
<!-- Navbar End -->