<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px">
            <h1 class="display-6">Sell Assets</h1>
            <p class="text-primary fs-5 mb-5"></p>
        </div>
        <form>
            <div>
                <label>Choose Asset Type</label>
                <select class="form-control bg-white" aria-placeholder="type">
                    <option></option>
                    <option *ngFor="let asset of assetsOthers" [value]="asset.id">{{asset.name}}
                    </option>

                </select>
            </div>
            <label>Amount</label>
            <input class="form-control bg-white" placeholder="amount">
            <label>Transfer Asset to</label>
            <input class="form-control bg-white" placeholder="use's email, username or Account no.">
            <input type="submit" id="submit" class="btn btn-primary">
        </form>


    </div>
</div>