<div class="container-xxl py-2">
  <div class="container">
    <div
      class="text-center mx-auto wow fadeInUp"
      data-wow-delay="0.1s"
      style="max-width: 500px"
    >
      <h1 class="display-6 text-bold">Send Money</h1>
      <p>A better way to Send Money</p>
    </div>
    <div class="row g-2">
      <div class="wow fadeInUp" data-wow-delay="0.1s">
        <!-- <div class="align-items-start">
          <img
            class="img-fluid flex-shrink-0"
            src="assets/img/money.png"
            alt="money-pic"
          />
        </div> -->
      </div>
    </div>
  </div>
</div>
<div class="container py-2">
  <div class="row">
    <div class="col-lg-7 mx-auto">
      <div class="bg-white rounded-lg shadow-sm p-5">
        <!-- Credit card form tabs -->
        <ul
          role="tablist"
          class="nav bg-light nav-pills rounded-pill nav-fill mb-3"
        >
          <li class="nav-item">
            <a
              data-toggle="pill"
              class="nav-link rounded-pill"
              routerLink="/send-money-card"
            >
              <i class="fa fa-credit-card"></i>
              Credit Card
            </a>
          </li>
          <li class="nav-item">
            <a
              data-toggle="pill"
              class="nav-link rounded-pill"
              routerLink="/send-money-bank"
              routerLinkActive="active"
            >
              <i class="fa fa-university"></i>
              Bank Transfer
            </a>
          </li>
        </ul>
        <!-- End -->

        <!-- Credit card form content -->
        <div class="tab-content">
          <!-- credit card info-->
          <div id="nav-tab-card" class="tab-pane fade show active">
            <p class="alert alert-success">Some text success or error</p>
            <form role="form">
              <div class="form-group">
                <label for="username">Full name</label>
                <input
                  type="text"
                  name="username"
                  placeholder="Mustafa Adel"
                  required
                  class="form-control"
                />
              </div>
              <div class="form-group">
                <label for="cardNumber">Account number</label>
                <div class="input-group">
                  <input
                    type="text"
                    name="cardNumber"
                    placeholder="xxxx xxxx xxxx xxxx"
                    class="form-control"
                    required
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-sm-8">
                  <div class="form-group">
                    <label><span class="hidden-xs">IBAN</span></label>
                    <div class="input-group">
                      <input
                        class="form-control"
                        id="iban"
                        type="tel"
                        inputmode="numeric"
                        pattern="[0-9\s]{24,29}"
                        autocomplete="iban-number"
                        maxlength="29"
                        placeholder="EG38 xxxx xxxx xxxx xxxx xxxx xxxx 2"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group mb-4">
                    <label title="Three-digits code on the back of your card"
                      >Swift code
                    </label>
                    <input
                      type="tel"
                      placeholder="AAAA-BB-CC-123"
                      required
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col-sm-8">
                  <div class="form-group">
                    <label><span class="hidden-xs">Branch address</span></label>
                    <div class="input-group">
                      <input
                        type="text"
                        name=""
                        class="form-control"
                        required
                      />
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group mb-4">
                    <label title="Three-digits code on the back of your card"
                      >Branch name
                    </label>
                    <input type="text" required class="form-control" />
                  </div>
                </div>

                <div class="col-sm-8">
                  <label for="send-to" class="">Send to</label>
                  <input
                    class="form-control"
                    id="send-to"
                    type="tel"
                    inputmode="numeric"
                    pattern="[0-9\s]{13,19}"
                    autocomplete="cc-number"
                    maxlength="19"
                    placeholder="xxxx xxxx xxxx xxxx"
                  />
                </div>
              </div>
              <button
                type="button"
                class="subscribe btn btn-primary btn-block rounded-pill shadow-sm mt-2"
              >
                Confirm
              </button>
            </form>
          </div>
          <!-- End -->
        </div>
      </div>
    </div>
  </div>
</div>
