<div class="container-xxl py-5">
  <div class="container">
    <div
      class="text-center mx-auto wow fadeInUp"
      data-wow-delay="0.1s"
      style="max-width: 500px"
    >
      <h1 class="display-6">My Transactions</h1>
      <p class="text-primary fs-5 mb-5"></p>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-10">
        <table class="table">
          <caption>
            List of recent Transactions
          </caption>
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Amount</th>
              <th scope="col">Date</th>
              <th scope="col">Description</th>
              <th scope="col">From</th>
              <th scope="col">To</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>$ 500</td>
              <td>23-feb-2023</td>
              <td>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Necessitatibus qui aut cumque praesentium voluptatum optio
                culpa.
              </td>
              <td>Ali Hussein <br />acc-no (0123456789)</td>
              <td>you</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>$ 500</td>
              <td>23-feb-2023</td>
              <td>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Necessitatibus
              </td>
              <td>Ali Hussein <br />acc-no (0123456789)</td>
              <td>you</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>$ 500</td>
              <td>23-feb-2023</td>
              <td>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Necessitatibus qui aut cumque praesentium voluptatum optio
              </td>
              <td>Ali Hussein <br />acc-no (0123456789)</td>
              <td>you</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
