<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">accountNo</th>
            <th scope="col">zip Code</th>
            <th scope="col">address</th>
            <th scope="col">city</th>
            <th scope="col">country</th>
            <th scope="col">national_Id</th>
            <th scope="col">mobile</th>
            <th scope="col">email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row"></th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>

    </tbody>
</table>